@model IEnumerable<MoiveTime.Models.Movie>

@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <img src="~/picture/batman.jpg" sizes="100%" width="300" />
            <p>
                @Html.DisplayFor(modelItem => item.Description)
            </p>
            <p><a class="btn btn-default">know more &raquo;</a></p>
        </div>
    }

</div>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Star)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Img)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.Star)
            </th>
        </tr>
    }

</table>


